<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o carpeta existe, no redirigir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo a index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
